body{
    background-color: gray;
    margin: 10px 10px 10px 10px;
}
.slidecard{
    margin: 60px 180px 60px 180px;
    color: #120E43;
    text-align: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circle{
    position: relative; margin-top: -61px;
    border-radius: 50px;
    border: 3px solid #3944F7;
    ;
    transition: transform .2s; /* Animation */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100px;
}
.circle:hover{
    
    transform: scale(1.1);
    box-shadow: 0 6px 12px 0 rgba(33, 63, 233, 0.2), 0 8px 22px 0 rgba(115, 12, 175, 0.19);
}
@media only screen and (max-width: 990px) {
    .slidecard{
        margin: 60px 38px 60px 38px;
        color: #120E43;
        text-align: center;
    }
    
}