body{
    background-color: #242B2E;
    color: white;
 }
 #navBar{
     padding-top: 25px;
     padding-bottom: 25px;
     filter: opacity(90%);
 }
 .dropdown-item:active{
     background-color: #3944F7;
     color: white;
     
 }
 .dropdown-menu{
     border: #3944F7 1px solid;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
 }
 .nav-item{
     padding-left: 30px;
 }
 .dropdown:hover .dropdown-menu {
     display: block;
     margin-top: 0;
 }